.left-bar-wrap
	.left-bar
		ul.big-ul
			li
				h3
					a(href='companyProfile.html')
						i.icon6
						span 企业概况
			li
				h3
					a(href='regionalStatistics.html')
						i.icon7
						span 企业统计
			li
				h3
					a(href='DifferentialBusiness.html')
						i.icon8
						span 企业对比分析
				ul.second-ul
					li
						a(href='DifferentialBusiness.html') 差异企业登记信息
					li
						a(href='abnormalEnterprise.html') 非正常企业比对分析
			li 
				h3
					a(href='enterpriseChangeInformation.html')
						i.icon9
						span 企业变动信息
			li 
				h3
					a(href='keyEnterprisesAnalysis.html')
						i.icon10
						span 重点企业管理
				ul.second-ul
					li
						a(href='keyEnterprisesAnalysis.html') 重点企业统计分析
					li
						a(href='keyEnterprisesPro.html') 重点企业占比分析
					li
						a(href='keyEnterpriseDefinition.html') 重点企业界定
						