.left-bar-wrap
	.left-bar
		ul.big-ul
			li
				h3
					a(href='acquisitionModule.html')
						i.icon1
						span 采集模板设计
			li
				h3
					a(href='dataDelivery.html')
						i.icon2
						span 数据报送/审核
				ul.second-ul
					li
						a(href='dataDelivery.html') 数据报送
					li
						a(href='dataAuditing.html') 数据审核
			li
				h3
					a(href='templateQueries.html')
						i.icon3
						span 数据查询
				ul.second-ul
					li
						a(href='templateQueries.html') 数据模板查询
					li
						a(href='downloadDataQuery.html') 数据查询下载
			li 
				h3
					a(href='submitStatistical.html')
						i.icon4
						span 报送统计
			li 
				h3
					a(href='dataAssessment.html')
						i.icon5
						span 数据质量检测
						