.box1{
  width: 100%;
  #chart1{height: 470px;}
}
.box3,.box5{
  margin-top: 12px;
  width: calc(~'50% - 6px');
}
.box2,.box4{
  margin-right: 12px;
  .box3
}
.chartCon{
  height: 370px;
}
